@import "abstracts/variables";

.project-modal-image {
  &__image-container {
    height: 100%;
    border-radius: $default-border-radius;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__remove-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    box-shadow: $default-box-shadow;
    background-color: $primary-background-color-light;
  }

  &__remove-icon {
    width: 16px;
    height: 16px;
    fill: $primary-font-color-dark;
  }
}
