@import "abstracts/variables";

.button {
  padding: 0.75rem 1rem;
  background-image: $accent-color;
  border-radius: $default-border-radius;
  display: flex;
  gap: 0.5rem;
  align-items: center;

  &__icon {
    width: 24px;
    height: 24px;
    fill: $primary-font-color-light;
  }

  &__label {
    font-family: $secondary-font-bold;
    color: $primary-font-color-light;
    font-size: 1rem;
    letter-spacing: 0.1em;
    line-height: 1.5;
  }
}
