@import "abstracts/variables";

.button {
  padding: 0.75rem 1rem;
  border-radius: $default-border-radius;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  position: relative;
  overflow: hidden;

  &:hover:not(:disabled) {
    cursor: pointer;

    &::before {
      filter: $primary-accent-color-hover-filter;
    }
  }

  &:disabled::before {
    filter: $primary-accent-color-disabled-filter;
  }

  // Pseudo element has to be created because filter (on e.g. hover) gets applied to all
  // child elements which would also include the icon and the label.
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: $primary-accent-color;
    @include with-transition(filter);
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: $primary-font-color-light;
    position: relative;
  }

  &__label {
    font-family: $secondary-font-bold;
    color: $primary-font-color-light;
    font-size: 1rem;
    letter-spacing: 0.1em;
    line-height: 1.5;
    position: relative;
  }
}
