@import "abstracts/mixins";

// The instafeed.js library injects HTML into the DOM. CSS has to be global and
// not component-scoped otherwise it does not get applied.
.instafeed {
  // Rules resemble official Instagram styling
  display: grid;
  width: 100%;
  max-width: 935px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  gap: 0.1875rem;

  &__link {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include media-breakpoint-up("md") {
    gap: 1.75rem;
  }
}
