@import "abstracts/variables";

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__photo {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 2rem;
  }

  &__quote {
    quotes: "„" "“" "‚" "‘";
    margin-bottom: 0.5rem;
    max-width: 350px;

    &::before {
      content: open-quote;
    }
    &::after {
      content: close-quote;
    }
  }

  &__name {
    font-size: 1.25rem;
    line-height: 1.5;
  }

  &__job-title {
    color: $muted-color;
  }

  &__name,
  &__job-title {
    text-align: center;
  }
}
