@use "sass:map";
@import "abstracts/variables";

@mixin media-breakpoint-up($grid-breakpoint) {
  @media only screen and (min-width: map.get($grid-breakpoints, $grid-breakpoint)) {
    @content;
  }
}

@mixin with-transition(
  $transition-property,
  $transition-duration: $default-transition-duration,
  $transition-timing-function: $default-transition-timing-function
) {
  transition: $transition-property $transition-duration
    $transition-timing-function;
}
