<section class="section testimonials-section">
  <div class="container">
    <shared-section-header
      title="Was andere über mich sagen"
      subtitle="Empfehlungen"
      i18n-title
      i18n-subtitle
    >
    </shared-section-header>
    <div #slideshowContainer class="swiper" sharedFadeIn>
      <div class="swiper-wrapper testimonials-section__testimonials-container">
        <div
          class="swiper-slide testimonials-section__testimonial-container"
          *ngFor="let testimonial of testimonials"
        >
          <portfolio-testimonial
            [testimonial]="testimonial"
          ></portfolio-testimonial>
        </div>
      </div>
      <button
        #arrowLeftButton
        class="testimonials-section__navigation-button testimonials-section__navigation-button--left"
        (click)="slideToPreviousSlide()"
        [disabled]="activeSlideIndex === 0"
      >
        <svg
          width="24"
          height="25"
          viewBox="0 0 24 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="testimonials-section__arrow-icon"
        >
          <g clip-path="url(#clip0_113_469)">
            <path
              d="M16.67 0.0263672L19.5 2.85537L10.161 12.0304L19.5 21.1974L16.67 24.0264L4.5 12.0304L16.67 0.0263672Z"
              fill="url(#paint0_linear_113_469)"
            />
          </g>
          <defs>
            <linearGradient
              id="paint0_linear_113_469"
              x1="4.5"
              y1="12.0264"
              x2="19.5"
              y2="12.0264"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#5653E1" />
              <stop offset="1" stop-color="#CD52E0" />
            </linearGradient>
            <clipPath id="clip0_113_469">
              <rect
                width="24"
                height="24"
                fill="white"
                transform="translate(0 0.0263672)"
              />
            </clipPath>
          </defs>
        </svg>
      </button>
      <button
        #arrowRightButton
        class="testimonials-section__navigation-button testimonials-section__navigation-button--right"
        (click)="slideToNextSlide()"
        [disabled]="activeSlideIndex === testimonials.length - 1"
      >
        <svg
          width="24"
          height="25"
          viewBox="0 0 24 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="testimonials-section__arrow-icon"
        >
          <g clip-path="url(#clip0_113_480)">
            <path
              d="M5 3.02637L8.057 0.0263672L20 12.0264L8.057 24.0264L5 21.0264L14 12.0264L5 3.02637Z"
              fill="url(#paint0_linear_113_480)"
            />
          </g>
          <defs>
            <linearGradient
              id="paint0_linear_113_480"
              x1="5"
              y1="12.0264"
              x2="20"
              y2="12.0264"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#5653E1" />
              <stop offset="1" stop-color="#CD52E0" />
            </linearGradient>
            <clipPath id="clip0_113_480">
              <rect
                width="24"
                height="24"
                fill="white"
                transform="translate(0 0.0263672)"
              />
            </clipPath>
          </defs>
        </svg>
      </button>
      <div class="testimonials-section__pagination-buttons-container">
        <input
          *ngFor="let testimonial of testimonials; let i = index"
          class="testimonials-section__pagination-button"
          type="radio"
          name="pagination-button"
          [checked]="i === activeSlideIndex"
          (change)="onChangePaginationButton(i)"
        />
      </div>
    </div>
  </div>
</section>
