@import "abstracts/variables";

.header {
  width: 100%;
  height: $default-header-height;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0 4px 4px 0 #b3b3b340;
  border-bottom: 1px solid $primary-background-color-light;
  background-color: $primary-background-color-light;

  &__portfolio-logo {
    width: 32px;
    height: 32px;
  }
}

.container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
