@import "abstracts/variables";

.login {
  width: 100vw;
  height: 100vh;
  background-color: $secondary-background-color-light;

  &__card-container {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__portfolio-link {
    margin-bottom: 1.5rem;
  }

  &__portfolio-logo {
    width: 64px;
    height: 64px;
  }
}

.container {
  width: 100%;
  height: 100%;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 500px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
