@import "abstracts/variables";
@import "abstracts/mixins";

.hero {
  height: 90vh;
  min-height: 500px;
  background-image: url("/assets/images/hero-background-image-mobile.jpeg");
  background-position-x: 40%;
  background-size: cover;

  &__overlay {
    height: 100%;
    background-image: linear-gradient(
      90deg,
      hsla(0, 0, 0, 0.7),
      hsla(0, 0, 50, 0.7)
    );
  }

  &__inner-container {
    position: relative;
    height: 100%;
  }

  &__content-container {
    width: 100%;
    position: absolute;
    top: 55%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(0, -50%);
  }

  &__title {
    color: $primary-font-color-light;
    font-family: $primary-font-regular;
    line-height: 1;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  &__name {
    font-family: $primary-font-bold;
    color: inherit;
    line-height: inherit;
  }

  &__mission-statement {
    font-size: 1.25rem;
    color: $secondary-font-color-light;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  &__social-media-channels-container {
    margin-bottom: 2rem;
  }

  @include media-breakpoint-up("md") {
    background-image: url("/assets/images/hero-background-image-tablet.jpeg");
    background-position-y: 65%;

    &__content-container {
      width: 50%;
      align-items: flex-start;
    }

    &__title,
    &__mission-statement {
      text-align: left;
    }
  }
}

.container {
  height: 100%;
}
