<section class="hero">
  <div class="hero__overlay">
    <div class="container">
      <div class="inner-container">
        <div class="content-container">
          <h1 class="hero__title">
            Hi, <br />
            ich bin <span class="hero__name">Tomke</span>
          </h1>
          <p class="hero__mission-statement">
            Lorem cillum aliqua eu aliquip pariatur do sunt. Aute quis Lorem
            tempor non ad. Eiusmod Lorem sint ipsum do cillum incididunt tempor
            cillum aliqua tempor et culpa.
          </p>
          <div class="social-media-channels-container">
            <shared-social-media-channels
              instagramUrl="/"
              linkedInUrl="/"
              tikTokUrl="/"
            ></shared-social-media-channels>
          </div>
          <button class="button">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="button__icon"
            >
              <path
                d="M12 12.713L0.015 3H23.985L12 12.713ZM12 15.287L0 5.562V21H24V5.562L12 15.287Z"
                fill="white"
              />
            </svg>
            <p class="button__label">Kontakt</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
