@import "abstracts/variables";

.service-card {
  padding: 2rem;
  display: flex;
  gap: 1.75rem;
  align-items: center;
  background-color: $primary-background-color-light;
  border-radius: $default-border-radius;
  box-shadow: $default-box-shadow;

  &__icon {
    width: 100px;
    height: 100px;
  }

  &__title {
    margin-bottom: 0.75rem;
  }
}

.text-container {
  flex: 1;
  min-width: 0;
}
