<div class="project-grid">
  <div *ngFor="let project of projects" sharedFadeIn>
    <admin-dashboard-project-card
      [project]="project"
      [shouldShowContextMenu]="project.id === contextMenuProjectId"
      (clickMoreButton)="onClickProjectCardMoreButton($event, project)"
      (clickEditButton)="clickProjectCardEditButton.emit(project)"
      (clickDeleteButton)="clickProjectCardDeleteButton.emit(project)"
    ></admin-dashboard-project-card>
  </div>
  <div sharedFadeIn>
    <admin-dashboard-add-project-card
      (clickAddProjectCard)="clickAddProjectCard.emit()"
    ></admin-dashboard-add-project-card>
  </div>
</div>
