@import "abstracts/variables";

.about {
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    border-radius: $default-border-radius;
  }
}

.image-container {
  // 82% width and 2rem padding is used so that there is enough space for the
  // rotated background image
  width: 82%;
  margin: 0 auto 2rem auto;
  padding: 2rem 0;
}

.padding-top-hack-outer-container {
  // Aspect ratio 1:1
  padding-top: 100%;
  position: relative;
}

.padding-top-hack-inner-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  &::before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: $primary-accent-color;
    transform: rotate(14deg);
    border-radius: $default-border-radius;
  }
}
