<footer class="section footer">
  <div class="container">
    <a href="/" class="footer__impressum-link"> Impressum </a>
    <div class="footer__icons-container">
      <a href="/">
        <svg
          width="39"
          height="39"
          viewBox="0 0 39 39"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_113_1113)">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M9.32598 30.6685L0.499973 8.36729L18.152 8.36729L9.32598 30.6685Z"
              fill="white"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M29.674 30.6859L38.5 8.38477H20.848L12.022 30.6859H29.674Z"
              fill="white"
            />
          </g>
          <defs>
            <clipPath id="clip0_113_1113">
              <rect
                width="38"
                height="38"
                fill="white"
                transform="translate(0.5 0.526367)"
              />
            </clipPath>
          </defs>
        </svg>
      </a>
      <shared-social-media-channels
        instagramUrl="/"
        linkedInUrl="/"
        tikTokUrl="/"
        [iconsColor]="SocialMediaIconsColor.WHITE"
      ></shared-social-media-channels>
    </div>
    <p class="footer__contact-information">
      +49 12345678 <br />
      kontakt@tomke-nils.de
    </p>
  </div>
  <p class="footer__author-note">
    Designt und entwickelt von
    <a
      href="https://jonas-wolfram.de"
      target="_blank"
      class="footer__jonas-wolfram-link"
    >
      Jonas Wolfram
    </a>
  </p>
</footer>
