<section class="section">
  <div class="container">
    <shared-section-header
      title="Instagram API key"
      subtitle="Instagram"
    ></shared-section-header>
    <form
      *ngIf="instagramApiKey"
      ngForm
      #apiKeyForm="ngForm"
      class="form"
      (ngSubmit)="onSubmit()"
    >
      <div class="form__body">
        <div class="form__group" sharedFadeIn>
          <input
            [(ngModel)]="instagramApiKey.key"
            #key="ngModel"
            type="text"
            class="form__control"
            placeholder="API-key"
            name="key"
            required
          />
          <div
            *ngIf="key.invalid && key.touched"
            class="form__alerts-container"
          >
            <p
              *ngIf="key.errors ? key.errors['required'] : undefined"
              class="form__alert"
            >
              Du musst den API-key von Instagram eingeben
            </p>
          </div>
        </div>
      </div>
      <div class="form__footer">
        <button
          type="submit"
          class="button button--primary-accent"
          [disabled]="apiKeyForm.invalid"
          sharedFadeIn
        >
          <svg
            class="button__icon button__icon--light"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.003 3H18V8H15.003V3ZM24 4V24H0V0H20L24 4ZM5 9H19V2H5V9ZM21 13H3V22H21V13Z"
              fill="white"
            />
          </svg>
          <p class="button__label button__label--light">Speichern</p>
        </button>
      </div>
    </form>
  </div>
</section>
