@import "abstracts/variables";

@font-face {
  font-family: $primary-font-light;
  src: url("/assets/fonts/poppins/poppins-light.ttf");
}
@font-face {
  font-family: $primary-font-regular;
  src: url("/assets/fonts/poppins/poppins-regular.ttf");
}
@font-face {
  font-family: $primary-font-bold;
  src: url("/assets/fonts/poppins/poppins-bold.ttf");
}
@font-face {
  font-family: $secondary-font-light;
  src: url("/assets/fonts/raleway/raleway-light.ttf");
}
@font-face {
  font-family: $secondary-font-regular;
  src: url("/assets/fonts/raleway/raleway-regular.ttf");
}
@font-face {
  font-family: $secondary-font-bold;
  src: url("/assets/fonts/raleway/raleway-bold.ttf");
}

* {
  font-family: $secondary-font-regular;
  color: $secondary-font-color-dark;
  font-feature-settings: "lnum";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font-bold;
  color: $primary-font-color-dark;
}

h1 {
  font-size: 3.75rem;
  line-height: 1.5;
}

h2 {
  font-size: 2rem;
  line-height: 1.5;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.25;
}

p {
  font-size: 1rem;
  line-height: 1.175;
}

.subtitle {
  font-size: 0.75rem;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
